body {
    max-width: 100%;
    overflow-x: hidden;
}

h3 {
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 400;
    margin: 0;
}

.flex {
    display: flex;
    padding: 4.14rem 5rem 5rem 5rem;
    flex-direction: column;
    gap: 3.12rem;
    align-items: center;
}

img {
    max-width: 28.08801rem;
}

.dark-theme .white {
    background-color: white;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 3.12rem 5rem;
}

.light-theme .white {
    background-color: #121215;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 3.12rem 5rem;
}

.box {
    display: flex;
    justify-content: space-between;
    gap: 8.037rem;
}

.text {

    display: flex;
    flex-direction: column;
    gap: auto;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
    max-width: 43.875rem;
}

.dark-theme .common {
    font-weight: 400;
    color: white;
}

.light-theme .common {
    font-weight: 400;
    color: #121215;
}

.spacing {
    margin: 0;
    gap: 0;
}

.underline {
    text-decoration-line: underline;
}

.first-row {
    display: flex;
    justify-content: space-between;
    width: 80rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.62rem;
    width: 80rem;
}

#message {
    width: 79.9rem;
    height: 8.9376rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.94rem;
}

input {
    border: none;
    box-shadow: none;
    width: 22.5rem;
    height: 3.125rem;
    background-color: #888;
    border-bottom: 4px solid #A0009B;
}

.submit {
    background: linear-gradient(90.28deg, #7000A0 0.01%, #A0009B 100%);
    color: white;
    font-size: 1.5rem;
    width: 12.5rem;
    height: 3.375rem;
    right: 5rem;
    bottom: 3.06rem;
    margin-left: auto;
    margin-top: 1.19rem;
    border: 0;
    padding: 0rem;
}